%main-font-regular {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
}

%main-font-medium {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
}

%main-font-semibold {
  font-family: 'Montserrat Semi Bold';
  font-style: normal;
  font-weight: 600;
}

%main-font-bold {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
}

%extend-font-bold {
  font-family: "Bebas Neue Bold";
  font-weight: 700;
  font-style: bold;
}