.firstSmoke {
  animation: firstSmoke 7s 2.5s;
  opacity: 0;
}

.lastSmoke {
  animation: lastSmoke 14s;
  animation-delay: 2.5s;
  opacity: 0;
}

.smoke {
  position: absolute;
  z-index: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

@keyframes firstSmoke {
  from {
    left: 0%;
    opacity: 0.1;
    filter: blur(20px);
    animation-timing-function: ease-in;
  }
  50% {
    opacity: 0.7;
    filter: blur(7px);
  }
  100% {
    left: -100%;
    opacity: 0.3;
    filter: blur(25px);
    animation-timing-function: linear;
  }
}

@keyframes lastSmoke {
  from {
    left: 100%;
    opacity: 0.3;
    filter: blur(25px);
    animation-timing-function: ease-in;
  }
  50% {
    left: 0;
    opacity: 0.5;
    filter: blur(20px);
    animation-timing-function: linear;
  }
  100% {
    left: -100%;
    opacity: 0;
    animation-timing-function: linear;
    filter: blur(30px);
  }
}
